    .headers {
      color: rgb(56, 56, 171);
      background-image: url(https://image.shutterstock.com/image-vector/cookie-seamless-pattern-260nw-84185887.jpg);
      font-size: 40px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-align: center;
    }

    #address {
      text-align: center;
    }
    
    h3 {
      line-height: 20%;
      text-align: center;
    }

    p {
      color: rgb(1, 118, 150);
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;